.OUTLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 2;
    cursor: pointer;
    transition: 0.5s;
}
.OUTLINE:hover {
    opacity: 0.7;
}

.TEXT {
    fill: black;
    font-size: 12px;
    text-anchor: middle;
}