@import url(//font.elice.io/EliceDigitalBaeum.css);

/* 페이지네이션 css */
.pagination { 
    display: flex; 
    width: 100%;
    margin-top: 15px; 
} 
ul { 
    list-style: none; 
    padding: 0; 
} 
ul.pagination li { 
    display: inline-block; 
    width: 10%; 
    height: 40px; 
    border: 1px solid #e2e2e2; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 1rem; 
} 
ul.pagination li:first-child{ 
    border-radius: 5px 0 0 5px; 
} 
ul.pagination li:last-child{ 
    border-radius: 0 5px 5px 0; 
} 
ul.pagination li a { 
    text-decoration: none; 
    color: #66c0e4;
    font-size: 1rem; 
} 
ul.pagination li.active a { 
    color: white; 
} 
ul.pagination li.active { 
    background-color: #66c0e4;
} 
ul.pagination li:hover, ul.pagination li a.active { 
    background-color: #66c0e4;
} 
ul.pagination li a:hover, ul.pagination li a.active { 
    color: white; 
} 
.page-selection { 
    width: 48px; 
    height: 30px; 
    color: #337ab7; 
}

.info-title {
    display: block;
    background: #50627F;
    color: #fff;
    text-align: center;
    height: 24px;
    line-height:22px;
    border-radius:4px;
    padding:0px 10px;
}